uploads
.DS_Store

*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*~

node_modules

## Python files
__pycache__/
*.py[cod]
*$py.class


## Packaging
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest-cache/

# Envs
.python-version
.env
.venv
env/
venv/
ENV/
