version: "3"

services:
  app:
    restart: always
    build:
      context: .
      dockerfile: .docker/app_dockerfile
    depends_on:
      - api
    volumes:
      - ./logs:/app/logs/
    ports:
      - "8081"

  api:
    restart: always
    build:
      context: .
      dockerfile: .docker/server_dockerfile
    depends_on:
      - mongo
    volumes:
      - ./logs:/app/logs/
    ports:
      - "5001"

  mongo:
    restart: always
    build:
      context: .
      dockerfile: .docker/mongo_dockerfile
    command: ["mongod", "-f", "/etc/mongod.conf"]
    volumes:
      - ./logs:/var/logs/mongod/
    ports:
      - "27017"

volumes:
  sockets:
