[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = "==2.0.3"
Flask-Cors = "*"
Flask-Dance = "*"
Flask-Login = "*"
Flask-PyMongo = "*"
Werkzeug = ">=2.0,<2.1"
bokeh = "<3"
pandas = "*"
scipy = "*"
matplotlib = "*"
pymongo = "*"
galvani = "*"
openpyxl = "*"
nmrglue = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "<2.0"}
blinker = "*"
pint = "*"
periodictable = "*"
flask-compress = "*"
pillow = "*"
openai = "*"
tiktoken = "*"
navani = {git = "git+https://github.com/the-grey-group/navani.git@v0.1.4"}
python-dateutil = "*"
pybaselines = "*"
rosettasciio = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-dependency = "*"
pre-commit = "*"
invoke = "*"
mongomock = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = { version = "*", extras = ["python-legacy"] }
mkdocs-awesome-pages-plugin = "*"

[requires]
python_version = "3"
