# Template plugins.toml file with example that uses
# the template repository instantiated locally.
#
# To use this template, copy it to the root of your repository and update the
# plugin names and paths as needed.
#
# These will be picked up by the `invoke dev.install` task, used in docker build.
#
dependencies = [ "datalab-app-plugin-template" ]

[tool.uv.sources]
datalab-app-plugin-template = { path = "plugins/datalab-app-plugin-template" }
