name: CI tests
on:
  pull_request:
    branches-ignore:
      - dependabot_updates
  push:
    branches:
      - main
      - dependabot_updates

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Run linters and other pre-commit hooks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools
          pip install flake8 pre-commit

      - name: Check for syntax errors with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source

      - name: Run pre-commit
        run: |
          pre-commit run --all-files --show-diff-on-failure

  pytest:
    name: Run Python unit tests

    services:
      mongo:
        image: mongo:3
        ports:
          - 27017:27017

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install latest compatible versions of immediate dependencies
        working-directory: ./pydatalab
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools
          pip install pipenv
          pipenv install --dev
          pipenv run pip install -e .
          pipenv graph

      - name: Run all tests
        working-directory: ./pydatalab
        run: |
          pipenv run pytest -rs -vvv --cov-report=term --cov-report=xml --cov ./pydatalab ./tests

      - name: Upload coverage to Codecov
        if: matrix.python-version == '3.10' && github.repository == 'the-grey-group/datalabvue'
        uses: codecov/codecov-action@v3

  webapp:
    name: Test the webapp
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker BuildKit
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "15.14"
          cache: "yarn"
          cache-dependency-path: ./webapp/yarn.lock

      - name: Install web app
        working-directory: ./webapp
        run: yarn install

      - name: Unit and Component test web app
        working-directory: ./webapp
        run: yarn test:unit

      - name: Build web app
        working-directory: ./webapp
        run: yarn build

      - name: Build the Docker images
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
        run: |
          docker compose --profile prod build

      - name: Start Docker images
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
        # Wait for port to open in docker image before next step
        run: |
          # Create a named docker network that all containers attach to
          docker network create nginx
          docker compose --profile prod up --abort-on-container-exit &
          sudo apt install -qq -y wait-for-it
          wait-for-it localhost:8081 -t 240

      - name: Run end-to-end tests
        working-directory: ./webapp
        run: |
          yarn test:e2e  --headless --url http://localhost:8081
