name: Check dependency licensing
on:
  workflow_dispatch:
  workflow_call:

jobs:
  licensing-checks:
    name: "Check dependency licensing"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        ref: ${{ env.PUBLISH_UPDATE_BRANCH }}

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.4"
        enable-cache: true

    - name: Run liccheck
      working-directory: ./pydatalab
      run: |
        uv venv
        uv sync --all-extras --dev
        uv export --locked --all-extras --no-hashes --no-dev > requirements.txt
        uv pip install liccheck==0.9.2 pip
        uv run liccheck -r requirements.txt
